#section {
    display: flex;
    justify-content: space-between;
}

.text h1 {
    margin-top: 3rem;
    font-size: 33px;
    margin-bottom: 1.9rem;
}

.sectionBox {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.sectionBox h3 {
    margin-top: 1rem;
    font-size: 20px;
    margin-bottom: 1rem;
    width: 340px;
    cursor: pointer;
    transition: all 0.23s ease-in-out;
}

.sectionBox h3:hover {
    color: #c2012ecd;
}

.sectionBox p {
    margin-top: 1rem;
    font-size: 16px;
    color: #999;
    width: 340px;
    cursor: pointer;
    transition: all 0.13s ease-in-out;
}

.sectionBox p:hover {
    color: #ce022bcd;
}

.sectionCardParent img {
    width: 100%;
    border-radius: 20px;
}

.CardPArent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sectionCard {
    width: 200px;
    text-align: center;
    margin-top: 1rem;
    overflow: hidden;
    transition: all 0.23s ease-in-out;
}

.sectionCard:hover{
    color: #c2012ecd;
}

.sectionCard img {
    background: linear-gradient(135deg,rgb(0, 255,
            119), blueviolet, green, aqua);
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    transition: all 0.3s ease-in-out;
}

.sectionCard img:hover{
    transform: scale(1.02);
}

.sectionCard h2{
    font-weight: 200;
    margin-top: 10px;
}